## Hello, Welcome to my Jupyter Project

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

In [ ]:
**Objectives:**
- Python
- SQL
- R

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. caret
5. ggplot

In [ ]:
| Data Science Tools |
| :- |
| Jupyter Notebook |
| VS Code |
| Rstudio |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
(3*4)+5
#  This a simple arithmetic expression to mutiply then add integers

In [19]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Aayush